.container {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 500px;
}

.column {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 20px;
}

.item {
  display: flex;
  background-color: lightseagreen;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.item--small {
  flex-grow: 1;
}

.item--big {
  flex-grow: 2;
}
