html * {
  font-family: Montserrat, sans-serif;
}

.header__menu-mobile {
  display: none;
}

.header {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  margin-bottom: 200px;
}

.logo-header {
  width: 204px;
  height: 34px;
}

.navigation a {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.navigation__button a {
  font-weight: 600;
  background-color: #ffce47;
  border-radius: 3px;
  padding: 5px 10px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 50px;
  gap: 30px;
}

.logo {
  width: 204px;
  height: 34px;
  margin-bottom: 30px;
}

.footer__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__main-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333;
  flex-basis: 33%;
  min-width: 333px;
}

.footer__main-text {
  margin-bottom: 10px;
}

.footer__main-email {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.footer__main-navigation {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.footer_links-heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 5px;
}

.footer_links {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333;
  gap: 10px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
}

.footer_bottom-social {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.social-icon {
  width: 15px;
  height: 12px;
}

.footer_bottom--copyright {
  font-weight: 300;
  font-size: 14px;
  color: #000;
}

@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }

  .header__menu-mobile {
    display: block;
  }

  /* FOOTER */
  .footer__main-description {
    align-items: center;
  }

  .footer__main-text {
    text-align: center;
    margin-bottom: 30px;
    max-width: 395px;
  }

  .footer__main {
    flex-direction: column;
    align-items: center;
  }

  .footer__main-email {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .footer__main-navigation {
    flex-direction: column;
    gap: 20px;
  }

  .footer_links {
    align-items: center;
    gap: 0;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .social-icon {
    width: 21px;
    height: 18px;
  }

  .footer_bottom--copyright {
    text-align: center;
    max-width: 360px;
    padding: 0 0 10px 0;
  }
}

@media screen and (max-width: 576px) {
  .logo-header {
    width: 130px;
    height: 22px;
  }
}
