html * {
  font-family: Montserrat, sans-serif;
}

.header__menu-mobile {
  display: none;
}

.header {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

.logo {
  width: 204px;
  height: 34px;
}

.navigation a {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.navigation__button a {
  font-weight: 600;
  background-color: #ffce47;
  border-radius: 3px;
  padding: 5px 10px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }

  .header__menu-mobile {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .logo {
    width: 130px;
    height: 22px;
  }
}
